body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-color: rgb(202, 176, 235);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    /* background-color: #fff; */
    background-color: rgb(70, 18, 89);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    color: white;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
}

label {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #7b3b86;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color:  rgb(108, 3, 104);
}

.hidden {
    display: none;
}


.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}

.right {
    color: green;
    font-weight: bold;
}
